{% extends 'base.html' %}

{% block content %}

<style>
body {
    background-color: rgba(232, 233, 231, 0.842);
}

.container2 {
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin: auto;
    padding: 30px;
    width: 50%;
}

</style>

<h4> 💌 쪽지 보관함 💌 </h4>
<br>

{% for chat in chats.all %}

<div class="container2"> 
        <h4>{{ chat.title }}</h4>
        <hr>
        <p>{{ chat.pub_date | date:"Y년 m월 d일" }}</p>
        <p>{{chat.writer}}</p>
        <p>{{ chat.summary }}</p>
        <br>
        <a href="{% url 'chat_detail' chat.id %}"> 자세히 보기</a>
</div>
<br>
{% endfor %}

{% endblock %}