{% extends 'base.html' %}

{% block content %}
<style>

.container2 {
  text-align: left;
  margin: 10px;
  border-style: none;
  border-color: grey;
  border-width: 3px;
  background-color: rgba(232, 233, 231, 0.842);
  font-family: Arial, Helvetica, sans-serif;
  width: 325px;
  display: inline-flex;
  height: 70vh;
}

.img {
  margin: 10px 30px 20px 10px;
  padding-top: 0px;
}

.link {
  text-decoration-line: none;
  color: black;
}

.book_body {
  padding: 20px;
  width: 320px;
}

.card-body {
  padding: 0px;
}


</style>

{% if user.is_authenticated %}
<a class="link" href="{% url 'mail' %}">메일보내기</a> |
<a class="link" href="{% url 'chat_received' %}">쪽지 보관함</a> |
<a class="link" href="{% url 'chat_new' %}">쪽지 쓰기</a> |
<a class="link" href="{% url 'chat_send' %}">보낸 메세지</a>
{% endif %}

<br>
<br>

{% for blog in blogs.all %}

<span class="container2"> 
    <div class="cards">
      <div class="card-body">
        <div class="img">
          {% if blog.images %}
            <img src="{{blog.image_thumbnail.url}}" width="300" height="200">
          {% else %}
            <img src="/static/cloud.jpg" alt="빈칸" width="300" height="200">
          {% endif %}
        </div>
        <div class="book_body">
          <h4>{{ blog.title }}</h4>
          <p>{{blog.writer}}</p>
          <p>{{ blog.summary }}</p>
          <p>{{ blog.pub_date | date:"Y년 m월 d일" }}</p>
          <a href="{% url 'detail' blog.id %}">more...</a>
        </div>
      </div>
    </div>
</span>

{% endfor %}


{% endblock %}