{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: rgba(232, 233, 231, 0.842);
      }
    .mainbox {
        background-color: white;
        margin: auto;
        padding: 30px;
        width: 50%;
    }
    input {
        background-color: rgba(232, 233, 231, 0.842);
        border-style: none;
    }

</style>
<body>
    <div class="mainbox">
        <form action="" method="POST" class="contact-form">
            {% csrf_token %}
            <h4>메일쓰기</h4>
            <hr>
            <div>
                <div>Full Name</div>
                <input type="text" name="full-name">
            </div>
            <div>
                <div>Email</div>
                <input type="text" name="email">
            </div>
            <div>
                <div>Subject</div>
                <input type="text" name="subject">
            </div>
            <div>
                <div>Messaage</div>
                <textarea name="message" cols="30" rows="10"></textarea>
            </div>
            <div>
                <input type="submit" class="btn" value="Send Message">
            </div>
        </form>
    </div>
</body>
{% endblock %}